GRPC_PORT=50051
KAFKA_BROKER_URL=kafka:29092
TEMPORAL_SERVER_ENDPOINT=localhost:7233
CASSANDRA_HOST=cassandra
CASSANDRA_PORT=9042
CASSANDRA_KEYSPACE=notification
CASSANDRA_USERNAME=cassandra
CASSANDRA_PASSWORD=cassandra
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
SMTP_HOST=smtp.google.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SENDGRID_APIKEY=
SENDGRID_EMAIL=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=