


# Vault settings



ENCRYPTION_SERVICE_REST_PORT=8002
ENCRYPTION_SERVICE_GRPC_PORT=50502
CONFIG_SERVICE_URL=http://config-service:8080
ENCRYPTION_CONFIG_SERVICE_TOKEN=default-token
CACHING_SERVICE_GRPC_URL=cache:6379
ENCRYPTION_SERVICE_REDIS_TTL=240


{
  "HASHICORP_VAULT_ADDR": "http://vault:8200",
  "HASHICORP_VAULT_TOKEN": "root",
  "HASHICORP_VAULT_PATH": "transit",
  "OTEL_COLLECTOR_GRPC_ENDPOINT":"http://host.docker.internal:4317"
}