YUGABYTE_DATABASE_HOST=localhost
YUGABYTE_DATABASE_PORT=5433
YUGABYTE_DATABASE_USER=yugabyte
YUGABYTE_DATABASE_PASSWORD=yugabyte
[SERVICE_NAME]_YUGABYTE_DATABASE_NAME=yugabyte //should use their own database name
# etc service
ETCD_SERVER_ENDPOINT=localhost:2379

OTEL_COLLECTOR_GRPC_ENDPOINT=localhost:4317

TEMPORAL_SERVER_ENDPOINT=localhost:7233

[SERVICE_NAME]_ADMIN_SECRET=weflksdjfwe8idfhjcniokjlAasdofhjnsasfjn61611df

[SERVICE_NAME]_JWT_SECRET=2nf9s0tm674496fmcb

ENVIRONMENT=dev

CASSANDRA_HOST=
CASSANDRA_PORT=
CASSANDRA_KEYSPACE=
CASSANDRA_USERNAME=
CASSANDRA_PASSWORD=
CASSANDRA_CLUSTER_NAME=
CASSANDRA_DC=
CASSANDRA_ENDPOINT_SNITCH=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_USERNAME=
[SERVICE_NAME]_REDIS_TTL=

REST_PORT=
GRPC_PORT=
# Redirection
[SERVICE_NAME]_REDIRECTION_URL=

IS_DOCKER=true

CACHING_SERVICE_GRPC_URL=50051

HASHICORP_VAULT_ADDR=http://localhost:8200
HASHICORP_VAULT_TOKEN=your_HASHICORP_VAULT_TOKEN
HASHICORP_VAULT_PATH=secret/data/path


KAFKA_BROKER_URL=
[SERVICE_NAME]_PRODUCER_TOPIC=