JWT_TOKEN=
CONFIG_API=
ENVIRONMENT=
SERVER_PORT=
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=
GEMINI_API_KEY=
YUGABYTE_HOST=
YUGABYTE_USER=
YUGABYTE_PASSWORD=
YUGABYTE_NAME=
YUGABYTE_PORT=
MINIO_USE_SSL=