CACHING_SERVICE_REST_PORT=8005
CACHING_SERVICE_GRPC_PORT=50505
OTEL_COLLECTOR_GRPC_ENDPOINT=localhost:4743
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=redis
REDIS_PASSWORD=redis
REDIS_DB=0
ENVIRONMENT=development