CACHING_SERVICE_REST_PORT=8001
CACHING_SERVICE_GRPC_PORT=50051
OTEL_COLLECTOR_URL=localhost:4743
REDIS_URL=localhost:6371
REDIS_PASSWORD=password
REDIS_DB=0
SERVICE_NAME=cra-caching-service
DEPLOYMENT_ENV=development