REST_PORT=8001
GRPC_PORT=50051
OTEL_COLLECTOR_GRPC_ENDPOINT=localhost:4743
REDIS_HOST=localhost
REDIS_PORT=6371
REDIS_PASSWORD=password
REDIS_DB=0
SERVICE_NAME=cra-caching-service
ENVIRONMENT=development
SERVICE_VERSION=0.0.1