# Server Configuration
REST_PORT=8081
GRPC_PORT=50051

# Redis Configuration
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USER=templateuser
REDIS_PASSWORD=your_redis_password
REDIS_URL=redis:6379
TEMPLATE_SERVICE_REDIS_TTL=240  # TTL in seconds

# YugabyteDB Configuration
YUGABYTE_DATABASE_HOST=127.0.0.1
YUGABYTE_DATABASE_PORT=5435
YUGABYTE_DATABASE_USER=yugabyte
YUGABYTE_DATABASE_PASSWORD=your_yugabyte_password
TEMPLATE_SERVICE_YUGABYTE_DATABASE_NAME=yugabyte

# JWT Configuration
TEMPLATE_SERVICE_JWT_SECRET=your_secure_jwt_secret_here
