# Server settings
# REST_PORT=8081
# GRPC_PORT=50051

# Database settings
# REDIS_HOST=172.17.0.1
# REDIS_PORT=6379
# REDIS_USER=templateuser
# REDIS_PASSWORD=templatepassword
# REDIS_URL=redis:6379
# TEMPLATE_SERVICE_REDIS_TTL=240

# YugabyteDB
# YUGABYTE_DATABASE_HOST=localhost
# YUGABYTE_DATABASE_PORT=5435
# YUGABYTE_DATABASE_USER=yugabyte
# YUGABYTE_DATABASE_PASSWORD=yugabyte
# TEMPLATE_SERVICE_YUGABYTE_DATABASE_NAME=yugabyte

# JWT Secret
# TEMPLATE_SERVICE_JWT_SECRET=myTemplateSecureKey1234567890@GoLan

# Active configuration
CONFIG_SERVICE_URL=http://host.docker.internal:8001/api/v1
TEMPLATE_CONFIG_SERVICE_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhZG1pbiI6dHJ1ZSwiZXhwIjoxNzQ4NTI4Mzc5fQ.my-DH0keHmGlNLEoz28X8Xp3GiQQlzUAEhavq7Z9MZQ
CACHING_SERVICE_GRPC_URL=host.docker.internal:50505
TEMPLATE_SERVICE_REDIS_TTL=240
TEMPLATE_SERVICE_GRPC_PORT=50051
TEMPLATE_SERVICE_REST_PORT=8081
IS_DOCKER=false
ENVIRONMENT=dev
