CONFIG_SERVICE_REST_PORT=8001
IS_DOCKER=false

YUGABYTE_DATABASE_HOST=localhost
YUGABYTE_DATABASE_PORT=5433
YUGABYTE_DATABASE_USER=yugabyte
YUGABYTE_DATABASE_PASSWORD=yugabyte

CONFIG_SERVICE_YUGABYTE_DATABASE_NAME=yugabyte //should use

ETCD_SERVER_ENDPOINT=localhost:2379
OTEL_COLLECTOR_GRPC_ENDPOINT=localhost:4317
TEMPORAL_SERVER_ENDPOINT=localhost:7233

CONFIG_SERVICE_ADMIN_SECRET=

CONFIG_SERVICE_JWT_SECRET=

ENVIRONMENT=dev
SERVICE_NAME=CONFIG_SERVICE
SERVICE_VERSION=1.0.0
