# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Output of the go coverage tool
*.out

# Dependency directories (go mod handles deps now, but still good to include)
vendor/

# IDE/editor-specific files
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Environment/config files
.env
.env.*
go.sum