# Application Config
PORT=
GRPC_PORT=
APP_ENV=


# JWT
JWT_SECRET=
# Redis Config
REDIS_USERNAME=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_TTL= 1

# Kafka Config
KAFKA_PRODUCER_TOPIC=
KAFKA_BROKER_URL=
KAFKA_HOST=
KAFKA_PORT=
ZOOKEEPER_PORT=

# Cassandra Config
CASSANDRA_HOST=
CASSANDRA_PORT=
CASSANDRA_KEYSPACE=
CASSANDRA_USERNAME=
CASSANDRA_PASSWORD=

# Redirection
REDIRECTION_URL=