# Server Settings

# Development/Production Mode


# Development/Production Mode

CONFIG_SERVICE_URL=http://host.docker.internal:4001/api/v1
MESSAGING_CONFIG_SERVICE_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhZG1pbiI6dHJ1ZSwiZXhwIjoxNzQ3ODE3ODI1fQ.YVRNpHAs21lT2QZpep6-Uoj5dWqr1sEY_nmLwfDQya0
CACHING_SERVICE_GRPC_URL=host.docker.internal:50051
MESSAGING_SERVICE_REDIS_TTL=240
MESSAGING_SERVICE_GRPC_PORT=8007
MESSAGING_SERVICE_REST_PORT=50507
OTLEL_COLLECTOR_GRPC_ENDPOINT=http://host.docker.internal:4317

# Logging Configuration

# Logging Configuration




# Set Config Webhook
# {
#     "url":"host.docker.internal:5055/config",
#     "environment":"dev",
#     "serviceName": "messaging_service",
#     "Method":"POST"
# }

# Set Config Service data samlple
# {
#   "grpcPort": "50051",
#   "kafkaBrokers": ["kafka1:9092", "kafka2:9093", "kafka3:9094"],
#   "kafkaAutoCreateTopics": "true",
#   "kafkaNumPartitions": 3,
#   "kafkaReplicationFactor": 3,
#   "kafkaBatchSize": 100,
#   "kafkaBatchBytes": 1048576,
#   "kafkaBatchTimeoutMs": 500,
#   "kafkaCompressionCodec": "snappy",
#   "kafkaMaxAttempts": 5,
#   "kafkaRetryBackoffMs": 250,
#   "kafkaReadTimeoutMs": 5000,
#   "kafkaWriteTimeoutMs": 5000,
#   "kafkaRequireActiveListener": true,
#   "kafkaRetentionMs": 604800000,
#   "kafkaConsumerMaxWaitMs": 5000,
#   "kafkaConsumerCommitIntervalMs": 5000,
#   "kafkaConsumerSessionTimeoutMs": 30000,
#   "kafkaConsumerHeartbeatMs": 1000,
#   "kafkaConsumerMaxPollRecords": 500,
#   "kafkaConsumerAutoOffsetReset": "earliest",
#   "kafkaEnableAutoCommit": false,
#   "kafkaIsolationLevel": "read_committed",
#   "configServiceUrl": "http://host.docker.internal:4001/api/v1",
#   "configServiceToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhZG1pbiI6dHJ1ZSwiZXhwIjoxNzQ3MzAxOTU3fQ.8nvO2c5BKkZJgSiyVWHiDf5a5tOQGC4hFppuG05i5yY",
#   "environment": "dev",
#   "serviceName": "messaging_service",
#   "httpPort":"5055"
# }