# Server Settings

# Development/Production Mode
ENV_MODE=development
CONFIG_SERVICE_URL=http://host.docker.internal:4001/api/v1
MESSAGING_CONFIG_SERVICE_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhZG1pbiI6dHJ1ZSwiZXhwIjoxNzQ3NjU4NzkyfQ.eB-JB7rl2lBjLPVDxmo2yrMmjiFgvKZMTuGnoEYFAP8
ENVIRONMENT=dev
SERVICE_NAME=messaging_service
SERVICE_VERSION=1.0.0
CACHING_SERVICE_GRPC_URL=host.docker.internal:50051
MESSAGING_SERVICE_REDIS_TTL=240
GRPC_PORT=50054
PORT=5055
OTLEL_COLLECTOR_GRPC_ENDPOINT=http://host.docker.internal:4317

# Logging Configuration
LOG_LEVEL=info
LOG_FORMAT=json
SAMPLINGRATIO=1.0
TLSDISABLE=false